@import 'node_modules/@2600hz/sds-core/sds-tools';

.home {
  @include sds-flex(flex-start, center);
  @include sds-screen(sm) {
    @include sds-flex(center, center);
  }
  border-top: 4px solid var(--sds_theme_color_primary);
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0 sds-spc(24);
    .logo {
      @include sds-flex(flex-start, center);
      @include sds-screen(sm) {
        @include sds-flex(center, center);
      }
      margin-bottom: sds-spc(40);
      color: var(--sds_theme_text);
      .teliconLogo {
        @include sds-screen(xs) {
          height: 70px;
        }
        color: var(--sds_theme_color_primary);
        height: 120px;
        margin-right: 1.5rem;
      }
      h2 {
        @include sds-screen(xs) {
          font-size: 2.5rem;
        }
        font-size: 5rem;
      }
    }
    .content {
      p {
        @include sds-typeset(heading-1);
        @include sds-screen(sm) {
          text-align: center;
        }
        @include sds-screen(xs) {
          @include sds-typeset(body);
        }
        color: var(--sds_theme_icon_muted);
        margin-bottom: sds-spc(16);
        font-weight: 300;
      }
      .buttonBox {
        display: flex;
        margin-bottom: sds-spc(16);
        @include sds-screen(sm) {
          @include sds-flex(center, center);
          margin-bottom: sds-spc(64);
        }
        @include sds-screen(xs) {
          flex-direction: column;
        }
        .sds_Button {
          margin-right: sds-spc(24);
          @include sds-screen(xs) {
            margin-right: 0;
            &:last-child {
              margin-top: sds-spc(16);
            }
          }
        }
      }
      .themes {
        @include sds-screen(sm) {
          @include sds-flex(center, center);
        }
      }
    }
  }
  .sipsterLogo {
    position: absolute;
    z-index: -1;
    color: var(--sds_theme_text);
    opacity: 0.04;
    height: 90%;
    top: 15%;
    right: -20%;
  }
}
