@import 'node_modules/@2600hz/sds-core/sds-tools';

body[data-theme='Dark'] {
  .sds_Toast {
    --sds_toast_background: var(--sds_theme_background_low, #0e0e0f);
    --sds_toast_text: var(--sds_theme_text, #ffffff);
  }
}

body[data-theme='Light'] {
  .sds_Toast {
    --sds_toast_background: var(--sds_theme_background_contrast_2);
  }
}

.iconList {
  padding-top: 84px;
  padding-bottom: 80px;
  .searchBar {
    position: sticky;
    top: 84px;
    left: 0;
    width: 100%;
    z-index: 90;
    background: var(--sds_theme_background);
    border-bottom: 1px solid var(--sds_theme_border);
    margin-bottom: sds-spc(24);
    padding: sds-spc(16) 0;
    .container{
      @include sds-flex(space-between, center);
      h2 {
        @include sds-typeset(title-2);
        color: var(--sds_theme_text);
        margin-right: sds-spc(16);
      }
      .sds_Search {
        width: 100%;
        max-width: 500px
      }
      @include sds-screen(md) {
        h2{
          flex-shrink: 0;
          @include sds-typeset(heading-2, semi)
        }
      }
      @include sds-screen(sm) {
        h2{
          @include sds-typeset(body-lg, semi)
        }
      }
    }
  }
  .container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 sds-spc(16);
    .list {
      @include sds-grid(4, sds-spc(24));
      @include sds-screen(md) {
        @include sds-grid(3, sds-spc(24));
      }
      @include sds-screen(sm) {
        @include sds-grid(2, sds-spc(12));
      }
      @include sds-screen(xs) {
        @include sds-grid(1, sds-spc(12));
      }
      
      padding-bottom: sds-spc(64);
      .card {
        @include sds-flex(flex-start, center);
        padding: sds-spc(16);
        border: 1px solid var(--sds_theme_border);
        border-radius: sds-spc(4);
        background: var(--sds_theme_background_high);
        cursor: pointer;
        transition: ease-in-out 0.25s;
        .sds_Telicon,
        span {
          pointer-events: none;
          color: var(--sds_theme_text);
        }
        &:hover {
          @include sds-shadow(2);
          transform: scale(1.05);
          border-color: var(--sds_theme_color_primary);
          span,
          .sds_Telicon {
            color: var(--sds_theme_color_primary);
          }
        }
        &:active {
          transform: scale(1.08);
        }
        .sds_Telicon {
          margin-right: sds-spc(12);
        }
      }
    }
  }
}
